.App {
  background-color: aqua;
  background-size: 100%;
}

.Counter {
  display: block;
  text-align: center;
  border: 2px solid grey;
  width: 500px;
  height: 500px;
  background-color: #4c1eff;
  margin-left: auto;
  margin-right: auto;
}

.ValueCheck{
  font-size: 35px;
  color: black;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
}
.ValueMaxCheck {
  font-size: 35px;
  color: red;
  border: 2px solid red;
  padding: 30px;
  margin: 20px;
}


.IncreaseButton , .ResetButton {
  background-color: aquamarine;
  padding: 15px;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid aquamarine;
  cursor: pointer;
  outline: none;
}

.IncreaseButton:active, .ResetButton:active {
  transform: translateY(3px);
}