.App {
  display: block;
  text-align: center;
  border: 2px solid aqua;
  width: 500px;
  height: 500px;
}

.ValueCheck{
  color: black;
  border: 2px solid black;
}
.ValueMaxCheck {
  color: red;
  border: 2px solid red;
}


.IncreaseButton , .ResetButton {
  background-color: aquamarine;
  padding: 15px;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid aquamarine;
  cursor: pointer;
  outline: none;
}

.IncreaseButton:active, .ResetButton:active {
  transform: translateY(3px);
}